# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [9]:
# x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.
x=3
x = float(x)

In [4]:
type (x)

float

In [10]:
# y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.
y = 4.5
y = int(y)
print(y)

4

In [6]:
type (y)

int

In [15]:
# z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.
z = 8

In [16]:
type (z)

int

In [18]:
# a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.
a = "12"
a = float(a)
print (a)

12.0

In [19]:
type (a)

float

In [23]:
# b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.
b = "46.8"
b= int(b) # stringden direkt int çevirmiyor, önce float a çevrilmeli. 
print (b)

ValueError: invalid literal for int() with base 10: '46.8'

In [24]:
type (b)

str

In [26]:
b = "48.6"
b = float(b)
b = int (b)
print (b)

48

In [27]:
type (b)

int

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [35]:
emre = 29
eren = 17
duru_bebek = 0.5
melek = 29

In [33]:
emre == eren

False

In [36]:
emre == melek

True

In [38]:
melek != eren

True

In [39]:
melek != emre

False

In [37]:
duru_bebek < eren

True

In [42]:
eren > melek

False

In [40]:
melek >= eren

True

In [41]:
eren <= emre

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [60]:
a = 5
b = 7

In [45]:
print (a+b)

12

In [46]:
print (a-b)

-2

In [48]:
print (a*b)

35

In [49]:
print (a/b)

0.7142857142857143

In [52]:
# tekrar olması adına gösterilen diğer işlemler de eklendi. Tam bölme:
print (b//a)

1

In [57]:
# mod alma, sayının diğer sayıya bölümünden kalanı verecektir ve % kullanılır.

x = 21
y = 6
print (x%y)

3

In [58]:
# üs alma ** kullanarak yapılır
p = 4
q = 3

print (p**q)

64

In [59]:
a = 5
print (5**2)

25

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [62]:
isim = input("İsminizi yazın: ")
print(isim)
yas = input("Yaşınızı girin: ")
print(yas)
sehir = input("Yaşadığınız şehri yazın: ")
print (sehir)
meslek = input("Mesleğinizi yazın: ")
print(meslek) # sırayla soru sorar ve print eder

İsminizi yazın:  melek

melek

Yaşınızı girin:  29

29

Yaşadığınız şehri yazın:  eskişehir

eskişehir

Mesleğinizi yazın:  iş analisti

iş analisti

In [65]:
isim = input("İsminizi yazın: ")
yas = input("Yaşınızı girin: ")
sehir = input("Yaşadığınız şehri yazın: ")
meslek = input("Mesleğinizi yazın: ")
print ("*************")
print(isim)
print(yas)
print (sehir)
print(meslek)# sırayla soru sorar ve en son print eder

İsminizi yazın:  melek
Yaşınızı girin:  29
Yaşadığınız şehri yazın:  eskişehir
Mesleğinizi yazın:  iş analisti

*************
melek
29
eskişehir
iş analisti

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [66]:
ifade = "Hi-Kod Veri Bilimi Atölyesi"

In [68]:
#  1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
kelime = ifade.split()
print (kelime)

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [72]:
#  2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 

capital = ifade.upper()
print (capital)

HI-KOD VERI BILIMI ATÖLYESI

In [75]:
# 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") >>> küçük denilmek istendi varsayıyorum

lower_case = ifade.lower()
print (lower_case)

hi-kod veri bilimi atölyesi

In [76]:
#"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

sayi= "0123456789"
tekler = "1,3,5,7,9"
ciftler = "0,2,4,6,8"
print (tekler)

1,3,5,7,9

In [77]:
print (ciftler)

0,2,4,6,8